modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "shell"
mode = "sequential"
author = 48803201

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "rm -rf dist"

[[workflows.workflow]]
name = "build"
mode = "sequential"
author = 48803201

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[userenv]

[userenv.shared]
DISCORD_CLIENT_ID = "1464363458936967251"
DISCORD_CLIENT_SECRET = "K7jZKfXgpNINnuqx9Vq1VN-uOV6moWBj"
